<h5>პაროლის ცვლილება</h5>
<div class="password_change_div">
    <div class="password-change-form">
        <form id="updatePasswordForm" class="updatePasswordForm">
            
            <input type="password" id="currentPassword" name="currentPassword" placeholder="ძველი პაროლი" required>
            
            <input type="password" id="newPassword" name="newPassword" placeholder="ახალი პაროლი" required>
            
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="გაიმეორეთ პაროლი" required>
            
            <button type="submit">შენახვა</button>
        </form>
    <div id="responseMessage"></div>
</div>

</div>