<footer class="footer">

    <div class="footer-container">


        <div class="footer-container-text">
            <span>EFFECT LINE</span>
        </div>


          <div class="footer-container-ic">
            <a href="https://www.instagram.com/online.effect?fbclid=IwZXh0bgNhZW0CMTAAAR2fXotshqVMVd7F9xmRHQQFK9cMgoNbKQBPQNYAmE-qfFEmEKkYgU-1leM_aem_6s8fu3E7YVJsBpUBpPa_oQ"><i class="fa-brands fa-instagram"> </i> - online.effect</a>
            <a href="https://www.facebook.com/effectline.georgia/"><i class="fa-brands fa-facebook-f"></i> - Effectline  </a>
            <a href="https://www.tiktok.com/@effectline"><i class="fa-brands fa-tiktok"></i> - @effectline</a>
        </div>

      
    </div>




    <div class="end">
        <span>© 2024 ეფექტის ხაზი | ყველა უფლება დაცულია</span>
    </div>
    
</footer>
