
    <header>
        <nav class="navbar">
            <div class="header-title">
                <a  id="logo-title" href="/home">­ЮЎђ­ЮЎЏ­ЮЎЏ­ЮЎџ­ЮЎў­ЮЎЕ ­ЮЎЄ­ЮЎъ­ЮЎБ­ЮЎџ<img src="/icons/effectlogo.jpg" alt=""></a>
            </div>
    
            <div class="hamburger" id="hamburger">
                &#9776;
            </div>
    
            <ul class="nav-links" id="nav-links">
                <li><a href="/home" id="nav-home">рЃЏрЃЌрЃљрЃЋрЃљрЃарЃў</a></li>
                <li><a href="/catalog" id="nav-catalog">рЃЎрЃљрЃбрЃљрЃџрЃЮрЃњрЃў</a></li>
                <li><a href="/contactus" id="nav-contact">рЃЎрЃЮрЃюрЃбрЃљрЃЦрЃбрЃў</a></li>
            </ul>
        </nav>
    
        <div id="userModal" class="modal">  
            <div class="modal-content" id="modal-content">
            </div>
        </div>
    </header>

<script src="/script/header.js"></script>


