<h5>პირადი ინფორმაცია</h5>

<div class="profile_div_right_main">
    <div class="div_info">
        <span>სახელი</span>
        <input type="text" id="userName" placeholder="{{userName}}" readonly>
        <img src="/icons/person_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="div_info">
        <span>იმეილი</span>
        <input type="text" id="userEmail" placeholder="{{email}}" readonly>
        <img src="/icons/mail_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="">
    </div>
    <div class="div_info">
        <span>როლი</span>
        <input type="text" id="userRole" placeholder="{{role}}" readonly>
        <img src="/icons/license_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.png" alt="">
    </div>
    <div class="div_info">
        <span>სტატუსი</span>
        <input type="text" id="status" placeholder="{{status}}" readonly>
        <img src="/icons/verified_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.png" alt="">
    </div>
</div>