<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/style.css"> <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/footer.css">
</head>
<body>
    
{{> header}}

<!-- Custom Alert Box -->
<!-- Custom Alert Box -->
<!-- Custom Alert Popup -->
<div id="custom-alert" class="alert-popup hide">
    <p></p>
</div>







  



<section>
    <div class="carousel">
        <div class="carousel-images" id="carouselImagesContainer">
           
            <img class="carouselbefore-resp" src="/images/sale-IMG1.png" alt="Image 1">
            <img class="carouselbefore-resp" src="/images/sale-IMG2.png" alt="Image 2">
            <img class="carouselbefore-resp" src="/images/sale-IMG3.png" alt="Image 3">
        </div>
        <button class="arrow left" onclick="moveSlide(-1)">&#10094;</button>
        <button class="arrow right" onclick="moveSlide(1)">&#10095;</button>
    </div>
    


    <div class="logos">
        <div class="logos-slide">
            <img src="/images/INF-TOM.png" alt="Image 1">
            <img src="/images/INF-IN.png" alt="Image 2">
            <img src="/images/INF-ORTO.png" alt="Image 3">
            <img src="/images/INF-Xer.png" alt="Image 4">
            <img src="/images/INF-TUS.png" alt="Image 5">
            <img src="/images/INF-TOM.png" alt="Image 6">
            <img src="/images/INF-IN.png" alt="Image 7">
        </div>

        <div class="logos-slide">
            <img src="/images/INF-TOM.png" alt="Image 1">
            <img src="/images/INF-IN.png" alt="Image 2">
            <img src="/images/INF-ORTO.png" alt="Image 3">
            <img src="/images/INF-Xer.png" alt="Image 4">
            <img src="/images/INF-TUS.png" alt="Image 5">
            <img src="/images/INF-TOM.png" alt="Image 6">
            <img src="/images/INF-IN.png" alt="Image 7">
        </div>
    </div>
</section>



<section class="fragrance-flex1">

    <div class="TF-Sale">
           <img class="responsive-image" src="/assets/TomFord-banner.jpg" alt="Valentino Banner">
     <img class="responsive-image-show" src="/assets/TomFord-crop.jpg" alt="Valentino Banner">
        <span class="tf-spam">Tom-Ford</span>
    </div>

    <!-- This is where the cards will be dynamically inserted -->
</section>


<section class="fragrance-flex2">

    <div class="TF-Sale">
            <img class="responsive-image" src="/assets/creed-banner.jpg" alt="Valentino Banner">
     <img class="responsive-image-show" src="/assets/creed-crop.jpg" alt="Valentino Banner">
    </div>

    <!-- This is where the cards will be dynamically inserted -->
</section>

<section class="fragrance-flex3">


<div class="TF-Sale">
    <img class="responsive-image" src="assets/valentino-banner.jpg" alt="Valentino Banner">
     <img class="responsive-image-show" src="assets/valentino-resise.jpg" alt="Valentino Banner">
</div>



    <!-- This is where the cards will be dynamically inserted -->
</section>
<section class="fragrance-flex4">

    <div class="TF-Sale">
           <img class="responsive-image" src="/assets/tt-banner.jpg" alt="Valentino Banner">
     <img class="responsive-image-show" src="/assets/tt-crop.jpg" alt="Valentino Banner">

    
    </div>

    <!-- This is where the cards will be dynamically inserted -->
</section>






{{> footer}}

<script src="/script/home.js"></script> 
    
</body>
</html>


